body{
	background: #f06292;
	margin: 0
}

.container {

	height:100%;
	width:100%;
	position:fixed;
	background: #f06292;
}
.submit {
	background: #b92864;
	border: 0;
	padding: 0.4em 0.8em;
	margin: 0.3em;
	border-radius: 5%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);;
	font-family: Arial, Roboto, Helvetica, sans-serif;
	letter-spacing: 0.25em;
	font-size: 1em;
	color: #ffffff;
	vertical-align: text-bottom;
}
.submit:hover {
	background-color:#9c0044;
	cursor: pointer;
}
.submit:active {
	position:relative;
	top:1px;
}
textarea{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	outline: none;
	overflow: auto;
	background-color: #ff94c2;
	color: #ffffff;
	font-family: 'Fira Code','NotoSansMono Nerd Font', 'DejaVuSansMono Nerd Font', Roboto, Arial;
	font-size: 16px;
}